# Mailu main configuration file (generated)

SECRET_KEY={{ pm_secret_key }}

SUBNET={{ pm_subnet }}

DOMAIN={{ pm_domain }}
HOSTNAMES={{ pm_hostname_fqdn }}
POSTMASTER=admin

TLS_FLAVOR={{ pm_tls_flavor }}

AUTH_RATELIMIT_IP={{ pm_auth_ratelimit_ip }}
AUTH_RATELIMIT_USER={{ pm_auth_ratelimit_user }}
DISABLE_STATISTICS={{ pm_disable_statistics }}

ADMIN={{ pm_enable_admin }}
WEBMAIL={{ pm_webmail }}
API={{ pm_enable_api }}
WEBDAV={{ pm_webdav }}
ANTIVIRUS={{ pm_antivirus }}

MESSAGE_SIZE_LIMIT={{ pm_message_size_limit }}
MESSAGE_RATELIMIT=200/day
RELAYNETS={{ pm_default_relaynets }}
RECIPIENT_DELIMITER=+

DMARC_RUA=admin
DMARC_RUF=admin

WELCOME=true
WELCOME_SUBJECT=Welcome to your new email account
WELCOME_BODY=Welcome to your new email account, if you can read this, then it is configured properly!

FULL_TEXT_SEARCH=en
FULL_TEXT_SEARCH_ATTACHMENTS=true

WEBROOT_REDIRECT={{ pm_webroot_redirect }}
WEB_ADMIN={{ pm_web_admin }}
WEB_WEBMAIL={{ pm_web_webmail }}
WEB_API={{ pm_web_api }}

SITENAME=Mailu
WEBSITE=https://{{ pm_hostname_fqdn }}

COMPOSE_PROJECT_NAME=mailu
CREDENTIAL_ROUNDS=12

LOG_LEVEL=INFO
TZ={{ pm_timezone }}

DEFAULT_SPAM_THRESHOLD=80

API_TOKEN={{ pm_api_token }}
